html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 20, 41);
    color: white;
    box-sizing: border-box;
}

.papersbutton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: medium;
}

.container {
    width: 100%;
    height: 100%;
    display: table;
}

.inner-container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.navcenter {
    position: fixed;
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px black solid;
    z-index: 2000;
    background-color: rgb(0, 20, 41);
}

.pfp {
    border-radius: 10000px;
    height: 40px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rightlinks {
    right: 15px;
    top: 21px;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.leftlinks {
    left: 15px;
    top: 21px;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.text-large {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    float: left;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 10px;
}

a {
    color: rgb(169, 231, 255);
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.icon {
    font-size: larger;
    padding: 4px;
    color: white;
    border: none;
    background-color: transparent;
}

.icon-large {
    font-size: xx-large;
    padding: 4px;
    color: white;
    border: none;
    background-color: transparent;
}

th,
td {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    color: rgb(99, 99, 99);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.flex-container {
    padding: 10px;
}

.button {
    color: white;
    background-color: purple;
    border: none;
    border-radius: 25px;
}

.button-large {
    padding: 10px;
}

.fixed {
    position: absolute;
}

.light {
    color: rgb(99, 99, 99);
}

.center {
    margin: auto;
    width: 100%;
}

.cards>li,
.card {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    height: 200px;
    width: 400px;
    overflow: hidden;
    text-align: center;
    position: relative;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

.projects>* {
    grid-column: 2 / -2;
}

.projects>.full {
    grid-column: 1 / -1;
}

.projects {
    padding: 20px 0;
    display: grid;
    grid-gap: 20px 0;
    grid-template-columns: 20px 1fr 20px;
    align-content: start;
}

.projects {
    overflow-y: scroll;
}

.cardimg {
    width: 110%;
    height: auto;
    z-index: 999;
}

.cardtext {
    z-index: 1000;
    margin: 0;
    padding: 0;
    left: auto;
    position: absolute;
    background-color: black;
    padding: 2px;
}

.cards {
    display: grid;
    grid-gap: calc(20px / 2);
    grid-template-columns: repeat(6, 400px);
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * 20px);
    margin-bottom: calc(-.25 * 20px);
}