body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

cen {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -250px;
}

.left {
    float: left;
}

#top-frame {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: url(resources/logo-goes-here.cur) -2 -2, default;
}

#tv-stand {
    position: absolute;
    padding: 0;
    margin: auto;
    display: block;
    width: 60%;
    height: 40%;
    color: white;
    position: absolute;
    top: 0;
    bottom: 400px;
    left: 0;
    right: 0;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo_bouncing {
    color: white;
}

#frame {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: none;
}

#tv-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 6px white solid;
}

#body {
    position: absolute;
    top: 108%;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#posts-content {
    margin-bottom: 100px;
}

#top-footer {
    position: absolute;
    background-color: black;
    top: 100%;
    right: 0;
    width: 100%;
}

#top-footer-content {
    padding: 10px;
    color: white;
}

#top-footer-middle {
    font-family: 'Inconsolata';
}

.tool-box {
    max-width: 60%;
}

.tool-center {}

.tool {
    float: right;
    padding-left: 3px;
    text-decoration: underline;
    font-family: 'Inconsolata';
    color: rgb(95, 95, 255);
}

.tool:visited {
    color: red;
}

.undercanvastext {
    position: absolute;
}

.playbutton {
    color: white;
    background-color: transparent;
    border: none;
    border-top: 6px white solid;
    border-left: 6px white solid;
    font-size: large;
    padding: 5px;
    transition: 0.5s;
}

.playbutton:hover {
    color: black;
    background-color: white;
    border: none;
    border-top: 6px white solid;
    border-left: 6px white solid;
    font-size: large;
    padding: 5px;
}

.playbutton:focus {
    outline: none;
}

.resetbutton {
    margin-left: 80px;
    border: none;
    padding: 11px;
}

.resetbutton:hover {
    margin-left: 80px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 11px;
}

.container {
    width: 60%;
    margin: auto;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: large;
    margin-bottom: 17px;
    top: 10px;
}

.post {
    position: relative;
    padding: 20px;
    margin-bottom: 40px;
}

.postimage {
    text-align: center;
    height: 300px;
    width: 100%;
    border: 2px black solid;
}

.postimg {
    max-height: 100%;
    max-width: 100%;
}

.postmeta {
    text-align: left !important;
}

.posttitle {
    padding-left: 5%;
    font-family: 'Inconsolata';
    margin-top: 0;
    font-size: xx-large;
    margin-bottom: 5px;
}

.posturl {
    margin-right: 5%;
    padding: 3px;
    font-size: medium;
    text-decoration: underline;
    float: right;
    color: red;
    font-family: 'Inconsolata';
}

.posturl:hover {
    font-weight: bold;
}

.posturl:visited {
    color: purple;
}

.postabout {
    margin: 0;
    margin-left: 6%;
    margin-right: 6%;
    height: 75px;
    overflow: hidden;
    float: left;
    word-break: break-word;
    font-family: 'Inconsolata';
}

.eff-logo {
    max-width: 200px;
    margin: 10px;
    max-height: 40px;
}