.right {
    float: right !important;
    justify-content: right !important;
    display: flex;
}

.left {
    float: left !important;
    justify-content: left !important;
    display: flex;
}

.pl-24 {
    padding-left: 24px !important;
}

.pr-24 {
    padding-right: 24px !important;
}

.text-2xl {
    font-size: 24px;
}

.pr-6 {
    padding-right: 6px;
}

.middle-y {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.h-half {
    height: 50% !important;
    top: 0;
    bottom: 0;
}

.h-quarter {
    height: 12.5% !important;
    top: 0;
    bottom: 0;
}

.h-full {
    height: 100% !important;
    top: 0;
    bottom: 0;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.p-12 {
    padding: 12px;
}

.m-12 {
    margin: 12px;
}

.pt-36 {
    padding-top: 48px;
}

.position-absolute {
    position: absolute;
}