body {
    margin: 0;
}

nav {
    width: 100%;
    display: inline-block;
    font-family: monospace;
    background-color: rgb(224, 224, 224);
    box-shadow: -1px 10px 43px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 10px 43px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 43px 5px rgba(0, 0, 0, 0.75);
    position: fixed;
}

nav div {
    padding: 10px;
}

nav div span h1 {}

nav div span:last-child {
    float: right;
}

.mr-6 {
    margin-right: 20px;
}

.row {
    width: 100%;
}

.row .img {
    width: 100%;
    overflow: hidden;
    height: 50vw;
}

.row .img img {
    min-height: calc(100vw/2);
    min-width: 50vw;
}

.img.two {
    float: right;
    width: 50%;
}

.img:not(.two) {
    float: left;
    width: 50%;
}

main {
    margin-top: 10px;
}

.img_meta {
    position: absolute;
    bottom: 4px;
    width: 100%;
    left: 0;
    padding-bottom: 25px;
    padding-left: 15px;
    transition: 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img_meta:hover {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0px -28px 55px 45px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px -28px 55px 45px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -28px 55px 45px rgba(0, 0, 0, 0.75);
}

.img_meta:hover h3,
.img_meta:hover span {
    color: white;
}

.img_meta h3:hover {
    text-decoration: underline;
}

.img_meta h3,
.img_meta span,
.img_meta a {
    color: transparent;
    transition: 0.3s;
    text-decoration: none;
}

.img {
    position: relative;
}

.center {
    text-align: center;
    margin-top: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}