@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
	margin: 0;
	width: 100vw;
	background: black;
	color: white;
		overflow: scroll;
}

main {
	position: absolute;
	top: 50%;
	min-width: 90%;
	left: 10%;
	transform: translate(-5%, -15%);
	font-family: 'Poppins', sans-serif;
}

.box {
	padding: 30px;
	border: solid 2px gray;
	border-radius: 15px;
}

code {
	font-family: 'Roboto', sans-serif;
	background: blue;
	color: white;
	font-weight: bolder;
	padding: 4px;
}

.swift {
	background: #f27131;
}

.node {
	background: #417e37
}

a {
	font-family: 'Roboto', sans-serif;
	background: white;
	color: black;
	font-weight: bolder;
	padding: 4px;
	text-decoration: none
}

a:hover {
	font-family: 'Roboto', sans-serif;
	background: blue;
	color: white;
	font-weight: bolder;
	padding: 4px;
	text-decoration: none
}

li {
	margin: 5px;
}
